
<!--p>get-doctor works!</p-->
<!--{{doctors$ | json}}-->

<div class="container">
  <div class="row">

    <label class="col-form-label col-md-1">Search</label>
    <div class="col-md-5">
    <!-- <div class="col-md-7"> -->
      <input type="text" name="search"  [(ngModel)]="searchText" placeholder="Search specialization">
  </div>

      <h2>Doctor Details</h2>
      <hr>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialization </th>
            <th>Mobile No</th>
            <th>Experience</th>
            <!-- <th>Availability</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of doctors$ | filter: searchText">
            <td>{{d.firstName }}</td>
            <td>{{d.lastName }}</td>
            <td>{{d.specialization }}</td>
            <td>{{d.mobileNo}}</td>
            <td>{{d.experience}}</td>
            <!-- <td>{{d.availability | date: 'shortDate'}}</td> -->
          </tr>
        </tbody>
      </table>
     </div>
</div>
  <!-- </div> -->
<!-- </div> -->

