<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
      <div class=" text-center">
        <h1>Login</h1>
        <h6>please enter username && password!!</h6>
      </div>

        <form>
          <div class="mb-3">
            <label>Email Id</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>

          <button routerLink="/search" routerLinkActive="active" type="submit" class="btn btn-primary">Login</button>
        </form>
        <a style="color:aliceblue;margin: 10px;"routerLink="/signup">New User? Click to Signup!! </a>
    </div>
  </div>
  </div>
</div>
